# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
backend/venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
env/

# Jupyter
.ipynb_checkpoints/
